.pokemon-list-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 16px;
    margin-bottom: 30px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin: 16px 0;
}