.header {
    width: 100%;
    height: 60px;
    background-color: #282c34;
    display: flex;
    align-items: center;
    color: white;
    top: 0;
    text-align: center;

    h1 {
        width: 100%;
    }
}